.element {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    position: relative;
    top: 55px;
}

.side-bar {  
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 76px;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height:55px ;
}