.search {
    display: block;
    height: 50px;
    width: 650px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    margin-left: 350px;
    font-size: large;
    background-color: white;
    box-shadow:  2px 3px 10px rgba(0, 0, 0, 0.2);
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    border-color: white;
}

.google-logo {
    height: 95px;
    vertical-align: middle;
    margin-left: 520px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.google-clone {
    vertical-align: middle;
}
 .search-engine  div {
   display: inline-block;
   margin-top: 40px;
}
.search-down {
 background-color: rgb(225, 218, 218);
 display: inline-block;
 margin-left: 500px;
}
.search-up {
     background-color: rgba(222, 220, 220, 0.9);
     margin-right: auto;
}