@media (max-width: 600px) {
    .thumbnail {
        width: 900px;
        border-radius: 0%;
    }

    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .thumbnail-1 {
        width: 500px;
        height: 300px;
    }

    .thumbnail-2 {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .video-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .video-check {
        display: flex;
        flex-direction: row;
        width: 500px;

    }

    .video-time {
        position: absolute;
        right: 20px;
    }

    .video-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }

    .video-name {
        width: 470px;
    }

    .video-info {
        width: 850px;
    }

    .middle-section {
        width: 50px;
        display: flex;
        flex: 1;
    }

    .right-section {
        width: 50px;
        display: flex;
        flex: 1;
    }

    .left-section {
        width: 50px;
        display: flex;
        flex: 1;
    }

    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .side-button {
        width: 100%;
    }

    .download {
        padding: 6px 20px 6px 20px;
    }

    .three-dots {
        height: 36px;
        width: 36px;
    }
}

@media (max-width: 550px) {
    .three-dots {
        z-index: 100;
    }

    .thanks {
        z-index: 0;
    }
}

@media (max-width:900px) {
    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .video-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 19px;
        align-items: center;
        border-radius: 8px;
    }

    .thumbnail-1 {
        width: 500px;
        height: 300px;
    }

    .thumbnail-2 {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .video-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .video-name {
        width: 470px;
    }
}